[run]
branch = True
source = tfsnippet

[report]
exclude_lines =
    pragma: no cover
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    scripts/*
    tfsnippet/utils/imported.py
    tfsnippet/examples/*
    setup.py
