-r requirements.txt

coverage >= 4.3.4
click >= 7.0
fs >= 2.1.2
imageio >= 2.3.0
mock >= 2.0.0
pytest >= 3.0
rarfile >= 3.0

# dependencies for documentation
sphinx >= 1.6.3
sphinx_rtd_theme
sphinx_automodapi

# dependencies required only for running the examples
scikit-learn >= 0.20
matplotlib >= 2.1.0
git+https://github.com/haowen-xu/mlsnippet.git

# !!! DO NOT INCLUDE TENSORFLOW IN THIS FILE !!!
# Installing tensorflow (no `-gpu`) will cause the gpu version not to work.
